img[alt="Swagger UI"] {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: url('logo.png');
    max-width: 100%;
    max-height: 100%;
}

#swagger-ui {
    padding-top: 25px !important;
}

.swagger-ui .topbar {
    background: #333335 !important;
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1 !important;
}

